body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    background-image: url(../imgs/10136775_17973908.jpg);
    background-position: center center;
    background-size: cover;

}

.card{
    background-color:#24353f;
}

.success-layer .pop-up{

    padding: 7rem;
}
.success-layer .icon{

    width: 50px;
    height: 50px;
}
.fail-layer .pop-up{

    padding: 8rem;
}
.fail-layer .icon{

    width: 50px;
    height: 50px;
}
.email-existed-layer .pop-up{

    padding: 8rem;
}
.email-existed-layer .icon{

    width: 50px;
    height: 50px;
}